In [3]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
data = pd.read_csv('../src/benin-malanville.csv')
data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [8]:
cols = data.columns
count = 0
for i in cols:
    column_dtype = data[i].dtype

    # Check if the column has a numeric dtype
    is_numeric = column_dtype in ['int64', 'float64']
    count += 1

    print("Is numeric:", is_numeric)
print(f"Number of cols:{count}")

Is numeric: False
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Is numeric: True
Number of cols:19

In [15]:
cols = data.columns
count = 0
for i in cols:
    is_unique = data[i].unique()
    if len(is_unique) < 20:
        count += 1

        print(f"col:{i} how many unique:", is_unique)
print(f"Number of cols:{count}")

col:BP how many unique: [ 998  997  996  999  995  994  993  992 1000 1001  991  990  989 1002
 1003  988  987  986  985]
col:Cleaning how many unique: [0 1]
col:Comments how many unique: [nan]
Number of cols:3

In [18]:
for i in data.columns:
    if i != "Timestamp":
        # Calculate mean
        mean_value = data[i].mean()

        # Calculate median
        median_value = data[i].median()

        # Calculate standard deviation
        std_deviation = data[i].std()

        # Calculate minimum
        min_value = data[i].min()

        # Calculate maximum
        max_value = data[i].max()

        # Calculate count
        count = data[i].count()
        
        print("col name:", i)
        print("Mean:", mean_value)
        print("Median:", median_value)
        print("Standard Deviation:", std_deviation)
        print("Minimum:", min_value)
        print("Maximum:", max_value)
        print("Count:", count)
        print(" ")
    else:
        continue

col name: GHI
Mean: 240.559452435312
Median: 1.8
Standard Deviation: 331.13132727528244
Minimum: -12.9
Maximum: 1413.0
Count: 525600

col name: DNI
Mean: 167.18751598173515
Median: -0.1
Standard Deviation: 261.71050061955896
Minimum: -7.8
Maximum: 952.3
Count: 525600

col name: DHI
Mean: 115.35896080669708
Median: 1.6
Standard Deviation: 158.6910738593437
Minimum: -12.6
Maximum: 759.2
Count: 525600

col name: ModA
Mean: 236.5894961948249
Median: 4.5
Standard Deviation: 326.89485851419147
Minimum: 0.0
Maximum: 1342.3
Count: 525600

col name: ModB
Mean: 228.883575913242
Median: 4.3
Standard Deviation: 316.5365153795055
Minimum: 0.0
Maximum: 1342.3
Count: 525600

col name: Tamb
Mean: 28.179682838660575
Median: 28.0
Standard Deviation: 5.924296981332082
Minimum: 11.0
Maximum: 43.8
Count: 525600

col name: RH
Mean: 54.4879691780822
Median: 55.1
Standard Deviation: 28.07306878119814
Minimum: 2.1
Maximum: 100.0
Count: 525600

col name: WS
Mean: 2.121112823439878
Median: 1.9
Standard Deviation: 1.603465884535921
Minimum: 0.0
Maximum: 19.5
Count: 525600

col name: WSgust
Mean: 2.8091948249619483
Median: 2.6
Standard Deviation: 2.0291196517763033
Minimum: 0.0
Maximum: 26.6
Count: 525600

col name: WSstdev
Mean: 0.4733896499238964
Median: 0.5
Standard Deviation: 0.27339462137399945
Minimum: 0.0
Maximum: 4.2
Count: 525600

col name: WD
Mean: 153.43517199391172
Median: 181.0
Standard Deviation: 102.33284204711737
Minimum: 0.0
Maximum: 360.0
Count: 525600

col name: WDstdev
Mean: 8.582406582952814
Median: 8.6
Standard Deviation: 6.385864053159715
Minimum: 0.0
Maximum: 99.4
Count: 525600

col name: BP
Mean: 994.197199391172
Median: 994.0
Standard Deviation: 2.4749931979875104
Minimum: 985
Maximum: 1003
Count: 525600

col name: Cleaning
Mean: 0.0009227549467275495
Median: 0.0
Standard Deviation: 0.0303628922211483
Minimum: 0
Maximum: 1
Count: 525600

col name: Precipitation
Mean: 0.001904870624048706
Median: 0.0
Standard Deviation: 0.03711520540656334
Minimum: 0.0
Maximum: 2.5
Count: 525600

col name: TModA
Mean: 35.2460256849315
Median: 30.0
Standard Deviation: 14.807257528635596
Minimum: 9.0
Maximum: 81.0
Count: 525600

col name: TModB
Mean: 32.47173554033485
Median: 28.9
Standard Deviation: 12.348743384103857
Minimum: 8.1
Maximum: 72.5
Count: 525600

col name: Comments
Mean: nan
Median: nan
Standard Deviation: nan
Minimum: nan
Maximum: nan
Count: 0